@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap');

:root {
    --background: #82D173;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Bree Serif', serif;
}

.fa-star {
    color: rgb(248, 213, 15);
}

/* headings and nav bar */

.navbar-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
}

.title {
    margin: 0.5rem 4rem 0.5rem 0.5rem;
    font-size: 1.5rem;
}

.title i {
    font-size: 1.5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #C8EBC1;
}

.navbar-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media screen and (max-width: 760px) {
    nav {
        width: 100%;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* my task and my stars */

.task-container {
    padding: 1rem 0.5rem;
    background-color: #6290C3;
    text-align: center;
    border: 5px solid #3E6165;
    margin: 5px;
}

.task-container input {
    margin-top: 1rem;
    width: 90%;
    padding: 0.75rem;
}

#task-add {
    background: #6D213C;
    color: white;
    font-weight: bold;
}

#task-add:hover {
    color: #6D213C;
    background: white; 
}

.stars-container {
    padding: 1rem 0.5rem;
    background-color: #FE4134;
    text-align: center;
    border: 5px solid #3E6165;
    margin: 5px;
}

.stars-container p {
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

.stars-container i {
    font-size: 1.5rem;
}

/* my reward chart */

.control::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: rgba(248, 213, 15, 0.2);
}

#star:checked ~ .control::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    color: rgb(248, 213, 15);
    font-size: 1.2rem;
}

.star-box {
    position: relative;
}

.hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35px;
    width: 35px;
    opacity: 0;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #82D173;
}

table tr:nth-of-type(even) { 
    background: #eee; 
}

table th { 
    background: #3E6165; 
    color: white; 
    font-weight: bold; 
}
  
table th, 
table td { 
    padding: 1rem; 
    border: 1px solid #ccc; 
    text-align: center; 
}

@media screen and (max-width: 760px) {
    .reward-chart-table thead {
        display: none;
    }

    .reward-chart-table tr,
    .reward-chart-table td {
        display: block;
    }

    .reward-chart-table tr:not(last-child) {
        border-bottom: 5px solid #ccc;
    }

    .reward-chart-table td {
        padding-left: 54%;
        position: relative;
    }

    .reward-chart-table td::before {
        position: absolute;
        padding: 5px;
        padding-top: 16px;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        content: attr(data-col-title);
        background: #3E6165; 
        color: white; 
        font-weight: bold;
    }
}

/* page links */

.booster-button,
.reward-button {
    display: block;
    color: white;
    text-align: center;
    border: 5px solid #3E6165;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px;
}

.booster-button:hover,
.reward-button:hover {
    text-decoration: underline;
    font-weight: bold;
}

.booster-button {
    background-color: #6610F2;
}

.reward-button {
    background-color: #ED7E07;
}

/*Footer*/

footer {
    background: var(--background);
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    margin: 2% 5%;
    color: black;
}

/*Star Booster Game*/

.game-score {
    padding: 1rem 0.5rem;
    background-color: #6610f2;
    text-align: center;
    border: 5px solid #3E6165;
    margin: 5px;
    color: white;
}

.star-game-container {
    padding: 1rem;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    top: 50%;
    left: 50%;
    border: 5px solid #82D173;
    text-align: center;
}

.weapons {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.weapons button {
    background-color: var(--background);
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    margin: 0 0.5rem;
}

.weapons button:hover {
    background-color: white;
    color: var(--background);
    border: 5px solid #82D173;
}

.details {
    margin-top: 4rem;
}

.scores,
.details {
    font-weight: 600;
    font-size: 1.2rem;
}

#result {
    width: 180px;
    padding: 10px 0;
    margin: 30px auto;
    letter-spacing: 0.5px;
}

#user-choice,
#computer-choice {
    margin-bottom: 10px;
}