@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Open+Sans&display=swap');

:root {
    --background: #82D173;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Bree Serif', serif;
}

.fa-star {
    color: rgb(248, 213, 15);
}

/* headings and nav bar */

.navbar-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
}

.title {
    margin: 0.5rem 4rem 0.5rem 0.5rem;
    font-size: 1.5rem;
}

.title i {
    font-size: 1.5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #C8EBC1;
}

.navbar-links li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 760px) {
    nav {
        width: 100%;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* my task and my stars */

.task-container {
    padding: 1rem 0.5rem;
    background-color: #6290C3;
    text-align: center;
}

.task-container input {
    margin-top: 1rem;
    width: 90%;
    padding: 0.75rem;
}

#task-add {
    background: #6D213C;
    color: white;
    font-weight: bold;
}

#task-add:hover {
    color: #6D213C;
    background: white; 
}

.stars-container {
    padding: 1rem 0.5rem;
    background-color: #FE4134;
    text-align: center;
}

.stars-container p {
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

.stars-container i {
    font-size: 1.5rem;
}

/* my reward chart */



/* page links */



/*Footer*/

footer {
    background: var(--background);
    width: 100%;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 2rem;
    margin: 2% 5%;
    color: black;
}